@using WebIngest.Common.Models
@using WebIngest.WebUI.Editors
@using WebIngest.Common.Interfaces
@using WebIngest.WebUI.Services
@using WebIngest.Common.Extensions
@using Newtonsoft.Json.Linq
@using WebIngest.Common.Models.OriginConfiguration
@using System.Web
@using System.Text
@inject ISnackbar _snackbar
@inject EntityService _entityService
@inject IDialogService _dialogService
@inject IJSRuntime _jsRuntime

<MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-4">@GetEntityTypeName()</MudText>
<MudGrid>
    <MudItem xs="12" sm="3">
        <MudPaper Elevation="25" Class="pa-4" MinHeight="300px">
            @if (_entities == null)
            {
                <MudProgressCircular Color="Color.Primary" Indeterminate="true"/>
            }
            else
            {
                <MudList Clickable="true">
                    @foreach (var dataType in _entities)
                    {
                        <MudListItem Text="@dataType.Name" OnClick="@((e) => EditEntity(dataType))"/>
                    }
                </MudList>
                <div class="d-flex flex-row">
                    <MudFab OnClick="@((e) => EditEntity(CreateNew()))" Color="Color.Secondary" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Medium" Class="ma-2 ml-auto"/>
                </div>
            }
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="9">
        <MudPaper Elevation="25" Class="pa-4" MinHeight="300px">
            @if (_editEntity == null)
            {
                <MudText Typo="Typo.h6" Align="Align.Center" Class="mt-16">Please select a @GetEntityTypeName() to edit</MudText>
            }
            else
            {
                if (EntityType == typeof(DataType))
                {
                    <DataTypeEdit DataType="@((DataType)_editEntity)"/>
                }

                if (EntityType == typeof(DataOrigin))
                {
                    <DataOriginEdit DataOrigin="@((DataOrigin)_editEntity)"/>
                }

                if (EntityType == typeof(Mapping))
                {
                    <MappingEdit Mapping="@((Mapping)_editEntity)" @ref="_refMappingEdit"/>
                }

                <div class="d-flex flex-row">
                    <MudTooltip Text="Save">
                        <MudFab OnClick="@SaveEntity" Color="Color.Tertiary" Icon="@Icons.Material.Filled.Save" Size="Size.Large" IconSize="Size.Medium" Class="ma-2 ml-auto"></MudFab>
                    </MudTooltip>
                    <MudTooltip Text="Test">
                        <MudFab OnClick="@TestEntity" Color="Color.Primary" Icon="@Icons.Material.Filled.Bolt" Size="Size.Large" IconSize="Size.Medium" Class="ma-2 ml-auto"></MudFab>
                    </MudTooltip>
                    <MudTooltip Text="Delete">
                        <MudFab OnClick="@ConfirmDeleteEntity" Color="Color.Error" Icon="@Icons.Material.Filled.Delete" Size="Size.Large" IconSize="Size.Medium" Class="ma-2 ml-auto"></MudFab>
                    </MudTooltip>
                </div>
            }
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    private MappingEdit _refMappingEdit;

    private INamedEntity[] _entities;
    private INamedEntity _editEntity;

    [Parameter]
    public Type EntityType { get; set; }

    [Parameter]
    public INamedEntity PresetEditEntity { get; set; }

    private INamedEntity CreateNew()
    {
        if (EntityType == typeof(DataType))
            return new DataType();

        if (EntityType == typeof(DataOrigin))
            return new DataOrigin();

        if (EntityType == typeof(Mapping))
            return new Mapping();

        throw new NotImplementedException();
    }

    private string GetEntityTypeName()
    {
        return EntityType.Name;
    }

    protected override async Task OnInitializedAsync()
    {
        if (PresetEditEntity != null)
            _editEntity = PresetEditEntity;
        await RefreshEntities();
    }

    private async Task RefreshEntities()
    {
        _entities = await _entityService.GetEntities(EntityType);
        StateHasChanged();
    }

    private void EditEntity(INamedEntity entity)
    {
        _editEntity = entity;
        StateHasChanged();
    }

    private async void TestEntity()
    {
        if (EntityType == typeof(Mapping))
        {
            var dialogResult = await _refMappingEdit.TestMappingDialog();
            if (!dialogResult.Cancelled)
            {
                var mapping = _editEntity as Mapping;
                var inputModel = dialogResult.Data as MappingTestInputModel;
                inputModel.Mapping = mapping;

                var response = await _entityService.TestMapping(inputModel);
                if (response.IsSuccessStatusCode)
                {
                    var responseContent = await response.Content.ReadAsStringAsync();
                    var parsedObjects = responseContent.FromJson<IList<IDictionary<string, string>>>();
                    
                    Console.Clear();
                    Console.WriteLine("PARSED TEST RESULTS");
                    await _jsRuntime.InvokeVoidAsync("console.log", parsedObjects);
                    
                    var htmlString = new StringBuilder();
                    foreach (var obj in parsedObjects)
                    {
                        htmlString.AppendLine("<br/>");
                        htmlString.AppendLine("<table>");
                        foreach (var key in obj.Keys)
                        {
                            htmlString.AppendLine("<tr>");
                            htmlString.AppendLine($"<th>{key}</th><td>{obj[key]}</td>");
                            htmlString.AppendLine("</tr>");
                        }
                        htmlString.AppendLine("</table>");
                    }
                    
                    _dialogService.Show<SimpleActionDialog>(
                        "Extracted Results",
                        new DialogParameters()
                        {
                            { "ContentText", "Process completed succesfully, extracted results were as follows:" },
                            { "ContentRawHtml", htmlString.ToString() },
                            { "CancelButtonText", "Close" }
                        }
                        ,
                        new DialogOptions()
                        {
                            CloseButton = true,
                            MaxWidth = MaxWidth.Medium
                        })
                        ;
                }
                else
                {
                    var errors = response.GetErrorMessages();
                    if (errors.Any())
                        foreach (var error in errors)
                            _snackbar.Add(error, Severity.Error);
                    else
                        _snackbar.Add($"Save Failed with Reason: {response.ReasonPhrase}", Severity.Error);
                }
            }
        }
        if (EntityType == typeof(DataOrigin))
        {
            var response = await _entityService.TestDataOrigin(_editEntity as DataOrigin);
            if (response.IsSuccessStatusCode)
            {
                var responseBody = await response.Content.ReadAsStringAsync();
                _snackbar.Add(responseBody, Severity.Success);
            }
            else
            {
                var errors = response.GetErrorMessages();
                if (errors.Any())
                    foreach (var error in errors)
                        _snackbar.Add(error, Severity.Error);
                else
                    _snackbar.Add($"Save Failed with Reason: {response.ReasonPhrase}", Severity.Error);
            }
        }
    }

    private async void SaveEntity()
    {
        var response = await _entityService.SaveEntity(_editEntity);
        if (response.IsSuccessStatusCode)
        {
            _snackbar.Add($"Saved {_editEntity.Name}", Severity.Success);
            await RefreshEntities()
                .ContinueWith(task =>
                {
                    if (task.IsCompleted)
                    {
                        EditEntity(_entities.FirstOrDefault(x => x.Name == _editEntity.Name || x.Id == _editEntity.Id));
                    }
                });
        }
        else
        {
            var errors = response.GetErrorMessages();
            if (errors.Any())
            {
                foreach (var error in errors)
                {
                    _snackbar.Add(error, Severity.Error);
                }
            }
            else
            {
                _snackbar.Add($"Save Failed with Reason: {response.ReasonPhrase}", Severity.Error);
            }
        }
    }

    private async void ConfirmDeleteEntity()
    {
        var parameters = new DialogParameters();
        parameters.Add("ContentText", $"Do you really want to delete this {GetEntityTypeName()}? This process cannot be undone.");
        parameters.Add("ActionButtonText", "Delete");
        parameters.Add("Color", Color.Error);

        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };
        var dialog = _dialogService.Show<SimpleActionDialog>("Delete", parameters, options);
        var result = await dialog.Result;
        if (!result.Cancelled)
        {
            DeleteEntity();
        }
    }

    private async void DeleteEntity()
    {
        var response = await _entityService.DeleteEntity(_editEntity);
        if (response.IsSuccessStatusCode)
        {
            _snackbar.Add($"Deleted {_editEntity.Name}", Severity.Success);
            await RefreshEntities();
            _editEntity = default;
        }
        else
        {
            _snackbar.Add($"Delete Failed with Reason: {response.ReasonPhrase}", Severity.Error);
        }
    }

    private async Task EntityDeleted()
    {
        await RefreshEntities();
        _editEntity = default;
    }

}